<!DOCTYPE html>
<html>
  <head>
    <title>MyFlights</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <header>
      <img class="siteIcon" src="paper-plane.png" />
      <h1 class="siteName">MyFlights</h1>
    </header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/airports">Airports</a></li>
        <li><a href="/add-airport">Add Airport</a></li>
        <li><a href="/flights">Flights</a></li>
        <li><a href="/add-flight">Add Flight</a></li>
      </ul>
    </nav>
    <footer>
      <p>Copyright © 2023 Nezir Kjerimoski</p>
    </footer>
  </body>
</html>
